.game {
    width: 1390px;
    height: 493px;
    border-bottom: 2px solid #2e8b57;
    margin: auto;
}
#dog {
    width: 300px;
    height: 200px;
    background-image: url(img/dog.png);
    background-size: 300px 300px;
    position: relative;
    top: 300px;
}
#fire {
    width: 80px;
    height: 80px;
    background-image: url(img/fire.png);
    background-size: 80px 80px;
    position: relative;
    top: 225px;
    left: 880px;
    animation: fireMov 1s infinite linear;
}
@keyframes fireMov {
    0% {
        left: 880px;
    }
    100% {
        left: -10px;
    }
}

.jump {
    animation: jump 2s infinite linear;
}

@keyframes jump {
    0% {
        top: 300px;
    }
    10% {
        top: 30px;
    }
    20% {
        top: 60px;
    }
    30% {
        top: 90px;
    }
    40% {
        top: 120px;
    }
    50% {
        top: 150px;
    }
    60% {
        top: 180px;
    }
    70% {
        top: 210px;
    }
    80% {
        top: 240px;
    }
    90% {
        top: 270px;
    }
    100% {
        left: 300px;
    }
}